{% extends 'base.html' %}
{% block content %}

<h1 class="mb-4">Nuevo Vehículo</h1>

<form method="POST" enctype="multipart/form-data" class="card p-4 shadow-sm">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-group mb-3">
        {{ form.placa.label_tag }}
        {{ form.placa }}
        {{ form.placa.errors }}
    </div>

    <div class="form-group mb-3">
        {{ form.marca.label_tag }}
        {{ form.marca }}
        {{ form.marca.errors }}
    </div>

    <div class="form-group mb-3">
        {{ form.color_vehiculo.label_tag }}
        {{ form.color_vehiculo }}
        {{ form.color_vehiculo.errors }}
    </div>

    <div class="form-group mb-3">
        {{ form.modelo.label_tag }}
        {{ form.modelo }}
        {{ form.modelo.errors }}
    </div>

    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
    <a href="/" class="btn btn-secondary btn-block">Cancelar</a>
</form>

{% endblock %}
